@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  transition: 0.2s ease-in-out;
  text-decoration: none;
}

::selection {
  background-color: rgb(18, 111, 111);
  color: #fff;
}

body {
  font-family: "Geologica", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  background: url("../src/assets/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  overflow-x: hidden; /* Hide horizontal scrollbar */
}